<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="my free online learning experience. C#, JavaScript, HTML, CSS">
		<meta name="keywords" content="self taught, learning, coding, programming, unity, game, web design, html, c sharp, javascript, css, free">
		<title>About</title>
		<link rel="stylesheet" type ="text/css" href="/assets/aboutstyle.css"/>
	</head>
		<body>
			<div class="header"></div>
			<div class="main-grid">
				<div class="page">
					<div class="article">
						<h3>Title</h3>
						<p>programming, unity, game, web design, html, c sharp, javascript, css, freeprogramming, unity, game, web design, html, c sharp, javascript, css, freeprogramming, unity, game, web design, html, c sharp, javascript, css, freeprogramming, unity, game, web design, html, c sharp, javascript, css, free</p>
					</div>
				</div>
				<div class="side-bar">
					<div class="side-box">
						<h6>paragraph</h6>
						<p>programming, unity, game, web design, html, c sharp, javascript, css, freeprogramming, unity, game, web design, html, c sharp, javascript, css, free</p>
					</div>
				</div>
			</div>
		</body>
</html>
