<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="my free online learning experience. C#, JavaScript, HTML, CSS">
		<meta name="keywords" content="self taught, learning, coding, programming, unity, game, web design, html, c sharp, javascript, css, free">
		<title>About</title>
		<link rel="stylesheet" type ="text/css" href="/assets/aboutstyle.css"/>
	</head>
		<body>
			<div class="header">
				<div class="inner-header">

					<div class="header-image">
						<img src="/assets/logo.png" alt="Sorry Image Not Found" width="100" height="100">
					</div>
					<div class="navbutton">
						<button type="Button">Home</button>
					</div>
					<div class="navbutton">
						<button type="Button">About</button>
					</div>
					<div class="navbutton">
						<button type="Button">Projects</button>
					</div>
					<div class="navbutton">
						<button type="Button">Contact</button>
					</div>
				</div>
			</div>
			<div class="main-grid">
				<h1>Title</h1>
				<div class="page">
					<h2><strong>Where I Started</strong></h2>
					<div class="article">
						<p><strong>My first experience with coding was the same as I am sure most people who ask google how to learn how code have... Hello World tutorials with something like python. I got as far as making a python program that can search the file directory for a file title or file that contains the words you search. I then made it controlable from a remote pc on the local network and give acess to the pcs cmd. Even though I was making progress with coding, making files and directories and freinds computers shut down didn't keep me interested motivated enough to push ahead. I stopped coding for a while and decided to put my time towards making it big on Ark Survival Evolved (accomplished!) untill I started wondering how video games are programmed. I always had the preconceived thought that games were made from scratch right down to just getting a window on the screen, I of course then discovered what a game engine is. Since discovering Unity about a year ago I have become almost obsessed with it.</strong> </p>
					</div>

					<div class="screen-image">

					</div>
					<div class="side-caption">
						<h3>Unity 3D</h3>
						<p>freeprogramming, unity, game, web design, html, c sharp, javascript, css, freeprogramming, unity, game freeprogramming, unity, game, web design, html, c sharp, javascript, css, freeprogramming, unity, game</p>
					</div>
				</div>
				<div class="page">
					<h2>Where I Am Now</h2>
					<div class="article">
						<p>After my time learning in Unity I feeel like it is time to put my self to the test and see where my knowledge of programming really stands. I have been thinking about this alot lately and it has been hard to come to a conclusion. There are two aspects of programming that I am always thinking about when I look at my programming which are what I have managed to make happen with my scipts but also how exactly I did it. In programming there are good ways and bad ways to get the same final result from your code. This is the part that I get stuck with because I am obviously writing my code in the best way that I know. This is why have decided the only way to find out is to get other people's input about my code which is why I decided to jump into learning web programming and make this website and publish my progress for other coders to critique. </p>
					</div>
					
				</div>
				
			</div>
		</body>
</html>
