
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="my free online learning experience. C#, JavaScript, HTML, CSS">
		<meta name="keywords" content="self taught, learning, coding, programming, unity, game, web design, html, c sharp, javascript, css, free">
		<title>Self Taught Coding</title>
		<link rel="stylesheet" type ="text/css" href="/assets/homestyle.css"/>
		<script src="/assets/address-search.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="header-logo">
				<div class="header-image">
					<img src="/assets/logo.png" alt="Sorry Image Not Found" width="100" height="100">
				</div>
				<div class="nav">
					<nav>
						<div class="navbutton">
							<button type="Button">Home</button>
						</div>
						<div class="navbutton">
							<button type="Button">About</button>
						</div>
						<div class="navbutton">
							<button type="Button">Projects</button>
						</div>
						<div class="navbutton">
							<button type="Button">Contact</button>
						</div>
					</nav>
				</div>
			</div>

			<h1>Self-Taught Coding Project</h1>
			<h3>The best way to learn something is to just jump straight in..</h3>
			<div class="footer">
			<h4>Copyright 2018 &copy</h4>
			</div>

		</div>
		
	</body>
</html>
